{% load poll_extras %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.navbar {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    align-items: unset;
    width:1300px;
    height:80px;
}

.navbar a {
    color: white;
    font-size: 25px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}



</style>
</head>
<body>

<div class="navbar">
  <a href="#home">Home</a>
  <a href="{% url 'employee_list' %}">{{ "employee" | upper }}</a>
  <a href="{% url 'polls_list' %}">{{ "Polls" | upper }}
  <span class="badge badge-primary badge-pill">{{polls_count}}</span>
  </a>
  <div class="text-right">
  <form method="POST" action="/logout/">
		{% csrf_token %}
		<a href="{% url 'my_profile' %}">
		<span class="mr-sm-2" style="color:white">{{request.user.first_name}}</span>
		</a>
		<input type="submit" class="btn btn-danger" value="Logout">
	</form>
  </div>
  <!-- <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>  -->
</div>


</body>
</html>
